/* This file is for your main application css. */

@import "~milligram/dist/milligram";

.column > p {
    padding-top: 10ex;
    text-align: center;
}

.tile {
  margin: 30px 100px;
  padding: 38px 30px;
}

/* #question-mark {
  color: yellow;
  weight: 600;
} */

#show {
  background-color: #ecc9ff;
}

#back-side {
  background-color: gray;
}
