/* This file is for your main application css. */

@import "~milligram/dist/milligram";

.column > p {
    padding-top: 10ex;
    text-align: center;
}

.tile {
  margin: 20px 100px;
  padding: 35px 30px;
}

#reset {
  margin-left: 50px;
}

#match {
  background-color: #b4fca4;
}

#score {
  margin-left: 50px;
}

#show {
  background-color: #ecc9ff;
}

#tile-content {
  font-weight: 600;
  font-size: 18px;
}

#back-side {
  background-color: #abb2bc;
}

#scores {
  margin-left: 5%;
}

#winner {
  margin-left: 5%;
}

#turn {
  margin-left: 5%;
}
